@model LoginBiblioteca.Models.Borrow

@{
    ViewBag.Title = "Delete";
}


<h3>Returnezi?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
           Nr Carti
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr_carti)
        </dd>

        <dt>
            Numele cartii
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carti.Nume_carte)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Returneaza" class="btn btn-success" /> |
            @Html.ActionLink("Inapoi", "Index")
        </div>
    }
</div>
