@model LoginBiblioteca.Models.Carti

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>Stergere</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nume carte:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume_carte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editura):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editura)
        </dd>

        <dt>
            Nr total:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr_Total)
        </dd>

        <dt>
            Nr Disponibil:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr_Disponibil)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sterge" class="btn btn-danger" /> |
            @Html.ActionLink("Inapoi", "Index")
        </div>
    }
</div>
