@model IEnumerable<LoginBiblioteca.Models.Carti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adauga o noua intrare", "Create","Carti", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Nume Carte
        </th>
        <th>
            Autor
        </th>
        <th>
            Editura
        </th>
        <th>
            Nr Total
        </th>
        <th>
            Nr Disponibil
        </th>
        <th>
            Optiuni
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume_carte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_Disponibil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Sterge", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
